/* HEADER Start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 4.8rem;
    background-color: #fdf2e9;
    padding-bottom: 8rem;
}

.logo img {
    width: 12.8rem;
}

.navbar .nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.menu {
    text-decoration: none;
    color: #333;
    transition: all .3s ease;
    border-bottom: 3px solid transparent;
}

.menu:hover, .menu:active {
    text-decoration: none;
    color: #cf711f;
    border-bottom: 3px solid currentColor;
}

.btn.btn-primary.btn-try {
    padding: 1rem 2.4rem;
}
/* HEADER End */

/* HERO Start */
.hero-section {
    background-color: #fdf2e9;
    padding: 0 3.2rem;
}

.hero {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 9.6rem;
    column-gap: 8rem;
    align-items: center;
}

.hero-image img {
    max-width: 100%;
}

.hero-header-description {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 1.3px;
    margin-bottom: 3rem;
}

.customers {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.customer-img img {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 2px solid #fdf2e9;
}

.customer-img img:last-child {
    margin-right: 0;
}

.customer-desc {
    font-size: 1.8rem;
    font-weight: 500;
}

.delivered-meals {
    color: #cf711f;
}
/* HERO End */

/* STEPS Start */
.steps-header {
    padding: 0 4.8rem;
}

.steps-description {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #cf711f;
}

.step-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-img img {
    width: 35%;
}

.step-img::before,
.step-img::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.step-img::before {
    background-color: #fdf2e9;
    width: 60%;
    padding-bottom: 60%;
    z-index: -2;
}

.step-img::after {
    background-color: #fae5d3;
    width: 50%;
    padding-bottom: 50%;
    z-index: -1;
}

.step-no {
    font-size: 6.2rem;
    font-weight: 700;
    color: #ddd;
    margin-bottom: 2.4rem;
}

.steps-title {
    margin-bottom: 3.2rem;
}

.step-description {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1;
}

/* STEPS End */

/* FEATURED IN Start */
.featured-in-header {
    text-align: center;
}

.featured-in-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured-in-images img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

.featured-in-header .steps-description {
    display: block;
    color: #999;
    margin-bottom: 3.2rem;
}
/* FEATURED IN End */

/* TESTIMONIALS Start */
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 4.8rem;
    column-gap: 3.2rem;
}
.testimonials-gallery {
    background-color: #fdf2e9;
}

.testimonials-body figure {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.author-img img {
    max-width: 20%;
    border-radius: 50%;
}

.author-testimonial {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 1.2;
}

.author-info {
    font-size: 1.4rem;
    color: #888;
}
/* TESTIMONIALS End */

/* GALLERY Start */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
}

.gallery-img {
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    transition: all .3s;
    object-fit: contain;
}

.gallery img:hover {
    transform: scale(1.05);
}
/* GALLERY End */

/* MEALS Start */
.meals-header {
    text-align: center;
    margin-bottom: 8rem;
}

.meals-body {
    margin-bottom: 8rem;
}

.meals-header span {
    display: block;
    margin-bottom: 2.4rem;
}

.meals-recipes {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #e67e22;
    letter-spacing: 1.05px;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding: .4rem;
}

.meals-recipes:hover {
    border-bottom: 1px solid transparent;
}

.meals-recipe {
    border-radius: 8px;
    overflow: hidden;
    max-width: 70%;
    box-shadow: 0 0 3px rgba(51, 51, 51, .3);
    transition: all .4s ease;
}

.meals-recipe:hover {
    transform: translateY(-1rem);
}

.meals-recipe.first {
    justify-self: end;
}

.meals-img img {
    width: 100%;
}

.labels {
    display: flex;
    gap: .4rem;
}

.labels span {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: .4rem .8rem;
    border-radius: 5rem;
    color: #333;
    margin-bottom: 1.6rem;
}

.vegetarian {
    background-color: #51cf66;
    color: #333;
}

.vegan {
    background-color: #94d82d;
}

.paleo {
    background-color: #fcc419;
}

.meals-content {
    padding: 1.6rem 1.2rem;
}

.meals-content .tertiary-header {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
}

.meals-details {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.meals-details p,
.meals-diet p {
    font-size: 1.6rem;
    display: flex;
    gap: 1rem;
}

.meals-diet div {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.8rem;
}

ion-icon {
    color: #cf711f;
}

.meals-footer {
    text-align: center;
}
/* MEALS End */

/* PRICING and FEATURES Start */
.pricing-body {
    display: flex;
    justify-content: center;
    gap: 3.2rem;
}

.pricing-header {
    margin-bottom: 6.4rem;
}

.pricing-header .steps-description {
    display: inline-block;
    margin-bottom: 2.4rem;
}

.pricing-plan {
    border: 2px solid #fdf2e9;
    border-radius: 8px;
    padding: 6.4rem 4.8rem;
}

.pricing-plan:last-child {
    background-color: #fdf2e9;
    position: relative;
    overflow: hidden;
}

.pricing-plan:last-child::after {
    content: "Best value";
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: -5rem;
    padding: .8rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #fcc419;
    transform: rotate(45deg);
    width: 150px;
    text-align: center;
}

.pricing-plan .steps-description {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: .8rem;
}

.pricing-plan .price {
    font-size: 5.2rem;
    font-weight: 600;
}

.pricing-plan-body p {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    letter-spacing: .9px;
}

.price span {
    font-size: 1.8rem;
    font-weight: 500;
    padding: .8rem;
}

.pricing-plan-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    font-size: 1.8rem;
    margin-bottom: 4.8rem;
    letter-spacing: .9px;
}

.pricing-plan-body {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-bottom: 3.2rem;
}

.pricing-footer,
.pricing-plan-footer {
    display: flex;
    justify-content: center;
}

.pricing-footer {
    font-size: 1.8rem;
    margin-top: 4.8rem;
    margin: 4.8rem 0 6.4rem 0;
}

.features {
    display: flex;
    gap: 3.2rem;
    padding: 4.8rem;
}

.feature ion-icon {
    font-size: 3.6rem;
    background-color: #fdf2e9;
    padding: 1.6rem;
    border-radius: 50%;
    margin-bottom: 4.8rem;
}

.feature h3 {
    margin-bottom: 2.4rem;
}

.feature p {
    font-size: 1.8rem;
    line-height: 1.5;
}
/* PRICING and FEATURES End */

/* CTA Start */
.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to bottom right, #e67e22, #eb984e);
    font-size: 1.8rem;
    color: #2e1907;
    border-radius: 12px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 9.6rem;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 3px #a15818;
  }

.cta-form {
    padding: 4.8rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
    column-gap: 3.6rem;
    margin-top: 4.8rem;
}

form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
}

.form-control input,
.form-control select {
    width: 100%;
    padding: 1.2rem;
    border-radius: 8px;
    border: none;
}

.form-control:last-child {
    align-self: end;
}

form .btn.btn-custom {
    padding: 1rem 3.2rem;
    border: none;
    width: 100%;
    background-color: #45260a;
    color: #fdf2e9;
    transition: all .3s;
    cursor: pointer;
}

form .btn.btn-custom:hover {
    background-color: #a15818;
}

.cta-img {
    background-image: url(../img/eating.jpg);
    background-size: cover;
    opacity: .7;
}
/* CTA End */

/* FOOTER Start */
.footer {
    border-top: 1px solid rgba(51,51,51,.1);
    color: #333;
    font-size: 1.4rem;
    margin-bottom: 4.8rem;
}

.footer-logo-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    height: 100%;
}

.footer-logo img {
    width: 60%;
    margin-bottom: 2.4rem;
}

.footer-address,
.footer-email {
    line-height: 1.9;
}

.footer-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem;
    align-self: start;
}

.footer-header {
    font-weight: 500;
}

.footer-list {
    line-height: 2.4;
}
/* FOOTER End */